* {
    box-sizing: border-box;
    margin: 15px;
    padding: 0;
  }
html,
body {
  background-color:magenta;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app {
    width:1200px;
    text-align: center;
    background-color:gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }