
* {
  box-sizing: border-box;
  margin: 15px;
  padding: 0;
}
html,
body {
background-color:magenta;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#app {
  width: 1000px;
  text-align: center;
  background-color:magenta;
  font-family: Verdana;
}